:root {
    --background-color: #b0b6b6;
    --accent-color: #7a6b1d;

    --spacing-xs: 8px;
    --spacing-sm: 13px;
    --spacing-md: 21px;
    --spacing-lg: 34px;

    --font-xs: 10px;
    --font-sm: 16px;
    --font-md: 20px;
    --font-lg: 36px;
    --font-xl: 60px
}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: #000000;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}

h2 {
    font-size: var(--font-xl);
    color: var(--accent-color);
    margin-bottom: var(--spacing-md);
}

.tabContent {
    display: none;
}

.tabs button {
    margin: var(--spacing-sm);
    font-size: var(--font-md);
}

.rowColSelector {
    font: var(--font-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
}

.createButton {
    margin: var(--spacing-sm);
    justify-content: center;
    align-items: center;
}

.matrix {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: block;
}

.madeMatrices {
    display: flex;
    gap: var(--spacing-xs);
    justify-content: center;
    align-items: center;
}

input {
    width: 50px;
    margin: 3px;
    text-align: center;
}

#input {
    font-size: var(--font-sm);
}

.operator {
    font-size: var(--font-md);
}

.operatorButtons {
    font-size: var(--font-md);
    padding: var(--spacing-sm);
}

.result {
    padding: var(--spacing-xs);
}